<div class="d-flex flex-column image justify-content-center align-items-center">
	<div class="">
		<h2 class="col text-center">More photos. More fun.</h2>
	</div>
	<div class="align-items-center justify-content-center text-justify">
		<p class="text">SmorgasBoard makes it easy and fun for your friends and family to share photos with the whole party — in real time. Get all the pics with our simple party photo software. Your guests will be glad you did.</p>
	</div>
	<div class="mt-3 mb-2">
		<div class="d-flex flex-column flex-sm-row button-row text-center justify-content-center align-items-center">
			<div class="action-button my-2">
				<a href="/get-started" class="btn btn-lg btn-primary">Get Started</a>
			</div>
			<div class="action-button my-2">
				<a href="/faq" class="btn btn-lg btn-outline-secondary">Learn More</a>
			</div>
		</div>
	</div>
</div>