<div class="container py-2">
	<h2 class="text-center">SmorgasBoard Terms of Service</h2>

	<p class="text-center small">Last updated June 21, 2021</p>

	<p>Please read these terms of service ("terms of service", "terms") carefully before using the <a href="https://smorgasboard.io">https://smorgasboard.io</a> website ("website", "service") operated by SmorgasBoard ("us", &#39;we", "our").</p>

	<p><b>Conditions of use</b></p>

	<p>By using this website, you certify that you have read and reviewed this Agreement and that you agree to comply with its terms. If you do not want to be bound by the terms of this Agreement, you are advised to leave the website accordingly. We only grant use and access of this website, its products, and its services to those who have accepted its terms.</p>

	<p><b>Privacy policy</b></p>

	<p>Before you continue using our website, we advise you to read our privacy policy at <a href="https://smorgasboard.io/privacy-policy">https://smorgasboard.io/privacy-policy</a> regarding our user data collection. It will help you better understand our practices.</p>

	<p><b>Age restriction</b></p>

	<p>You must be at least 18 (eighteen) years of age before you can use this website. By using this website, you warrant that you are at least 18 years of age and you may legally adhere to this Agreement. We assume no responsibility for liabilities related to age misrepresentation.</p>

	<p><b>Intellectual property</b></p>

	<p>You agree that all materials, products, and services provided on this website are the property of SmorgasBoard, its affiliates, directors, officers, employees, agents, suppliers, or licensors including all copyrights, trade secrets, trademarks, patents, and other intellectual property. You also agree that you will not reproduce or redistribute the site's intellectual property in any way, including electronic, digital, or new trademark registrations.</p>

	<p>You grant SmorgasBoard a royalty-free and non-exclusive license to display, use, copy, transmit, and broadcast the content you upload and publish. For issues regarding intellectual property claims, you should contact the company in order to come to an agreement.</p>

	<p><b>User accounts</b></p>

	<p>As a user of this website, you may be asked to register with us and provide private information. You are responsible for ensuring the accuracy of this information, and you are responsible for maintaining the safety and security of your identifying information. You are also responsible for all activities that occur under your account or password.</p>

	<p>If you think there are any possible issues regarding the security of your account on the website, inform us immediately so we may address it accordingly.</p>

	<p>We reserve all rights to terminate accounts, edit or remove content and cancel orders in their sole discretion.</p>

	<p><b>Applicable law</b></p>

	<p>By visiting this website, you agree that the laws of the United States of America, without regard to principles of conflict laws, will govern these terms and conditions, or any dispute of any sort that might come between SmorgasBoard and you, or its business partners and associates.</p>

	<p><b>Disputes</b></p>

	<p>Any dispute related in any way to your visit to this website or to products you purchase from us shall be arbitrated by state or federal court in the United States of America, and you consent to exclusive jurisdiction and venue of such courts.</p>

	<p><b>Indemnification</b></p>

	<p>You agree to indemnify SmorgasBoard and its affiliates and hold SmorgasBoard harmless against legal claims and demands that may arise from your use or misuse of our services. We reserve the right to select our own legal counsel.&nbsp;</p>

	<p><b>Disclaimer</b></p>

	<p>Unless stated in the Additional Terms, the Services and Software are provided "AS-IS." To the maximum extent permitted by law, we disclaim all warranties, express or implied, including the implied warranties of non-infringement, merchantability, and fitness for a particular purpose. We make no commitments about the content within the Services. We further disclaim any warranty that (A) the Services or Software will meet your requirements or will be constantly available, uninterrupted, timely, secure, or error-free; (B) the results obtained from the use of the Services or Software will be effective, accurate, or reliable; (C) the quality of the Services or Software will meet your expectations; or (D) any errors or defects in the Services or Software will be corrected.</p>

	<p><b>Limitation on liability</b></p>

	<p>SmorgasBoard is not liable for any damages that may occur to you as a result of your misuse of our website.</p>

	<p>SmorgasBoard reserves the right to edit, modify, and change this Agreement any time. We shall let our users know of these changes through electronic mail. This Agreement is an understanding between SmorgasBoard and the user, and this supersedes and replaces all prior agreements regarding the use of this website.</p>

</div>