<div class="hiw-image container-fluid d-flex flex-column justify-content-center align-items-center">
	<div class="row justify-content-center">
		<h2 class="text-center section-title">How it works</h2>
	</div>

	<div class="row justify-content-center hiw-text-container">
		<div class="list-group">
			<div class="list-group-item container hiw-list-group-container">
				<div class="row align-items-center">
					<div class="col-1 hiw-col">
						<h3 class="h1 hiw-num">1</h3>
					</div>
					<div class="col-11 hiw-col">
						<div class="d-flex justify-content-between">
							<h4 class="hiw-text">Show your board</h4>
						</div>
						<p class="hiw-text">Connect your laptop to a TV or projector and <a href="login">log in</a> to our website.</p>
					</div>
				</div>
			</div>
			<div class="list-group-item container hiw-list-group-container">
				<div class="row align-items-center">
					<div class="col-1 hiw-col">
						<h3 class="h1 hiw-num">2</h3>
					</div>
					<div class="col-11 hiw-col">
						<div class="d-flex justify-content-between">
							<h4 class="hiw-text">Guests add photos</h4>
						</div>
						<p class="hiw-text">Anyone can visit a link or scan your board's QR code to add a photo. When they do, it'll appear instantly. No sign in or app download necessary.</p>
					</div>
				</div>
			</div>
			<div class="list-group-item container hiw-list-group-container">
				<div class="">
					<div class="row align-items-center">
						<div class="col-1 hiw-col">
							<h3 class="h1 hiw-num">3</h3>
						</div>
						<div class="col-11 hiw-col">
							<div class="d-flex justify-content-between">
								<h4 class="hiw-text">Have fun!</h4>
							</div>
							<p class="hiw-text">As people add photos, SmorgasBoard shows them off in an evolving collage. Afterwards, we'll send you a digital album.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>