<div class="container my-5">
	<div class="card-group">
		<div class="card">
			<img class="card-img-top" src="../../assets/projector.jpg">
			<div class="card-body">
				<h5 class="card-title">Made for the big screen.</h5>
				<p class="card-text">Use a projector or TV to share your SmorgasBoard with your guests. They can scan a QR code to add more photos, which appear instantly.</p>
			</div>
		</div>
		<div class="card">
			<img class="card-img-top" src="../../assets/cheers.jpg">
			<div class="card-body">
				<h5 class="card-title">Live in the moment.</h5>
				<p class="card-text">Your guests can snap a quick pic — then get back to the celebration. It's cheaper, easier, and more fun than traditional photo booths or disposable cameras.</p>
			</div>
		</div>
		<div class="card">
			<img class="card-img-top" src="../../assets/sparklers.jpg">
			<div class="card-body">
				<h5 class="card-title">Photos to last a lifetime.</h5>
				<p class="card-text">No need to pester your guests for their pics. When the night's over, we'll email you all the pictures your guests took, automatically.</p>
			</div>
		</div>
	</div>
</div>