<app-page-banner [photoSrc]="'club-banner.png'" [bannerText]="'Get started with SmorgasBoard'"></app-page-banner>
<div class="text-center py-3 px-2">
	<p class="lead">Take your party to the next level with our simple, user-friendly photo software.</p>
	<a class="my-2 btn btn-lg btn-primary pulse" href="/checkout">Buy Now and Get Started!</a>
	<div class="container-fluid pt-3">
		<div class="row justify-content-between px-1">
			<div class="col-sm-4 d-flex flex-column justify-content-between align-items-center buy-now panel">
				<h2 class="row mx-1">Use SmorgasBoard at your next event!</h2>
				<div class="row d-flex flex-column align-items-center justify-content-center">
					<p class="row pt-4">For a limited time, just</p>
					<div class="price-circle text-light bg-success">
						$79
					</div>
					<p class="row small"><em>per event</em></p>
				</div>

				<ul class="row px-2 list-group list-group-flush">
					<li class="list-group-item list-group-item-light bg-transparent">
						Save 80% or more vs. traditional photobooth rentals
					</li><li class="list-group-item list-group-item-light bg-transparent">
						No hidden fees, no commitment
					</li>
					<li class="list-group-item list-group-item-light bg-transparent">
						Satisfaction guaranteed or your money back
					</li>
				</ul>

				<a class="panel-button m-1 btn btn-lg btn-primary" href="/checkout">Buy Now and Create your Board</a>
				<a class="panel-button m-1 btn btn-lg btn-outline-secondary" href="/free-trial">Start your Free Trial Today</a>
			</div>

			<div class="col-sm-7 features panel">
				<h2 class="mx-1">With SmorgasBoard, you can...</h2>
				<ul class="fa-ul">
					<li>
						<fa-icon class="fa-li" icon="check"></fa-icon>
						Watch your event unfold. Photos appear <b>instantly</b> on your TV or projector.
					</li>
					<li>
						<fa-icon class="fa-li" icon="check"></fa-icon>
						See your event from all angles. Get <b>candids, plandids, and action shots</b> from all your guests.
					</li>
					<li>
						<fa-icon class="fa-li" icon="check"></fa-icon>
						<b>Save time</b>. No need to hassle your friends and family to send your photos — <b>receive photos automatically</b> after the event.
					</li>
					<li>
						<fa-icon class="fa-li" icon="check"></fa-icon>
						<b>Save money</b>. SmorgasBoard costs a fraction of what traditional photo booth companies charge.
					</li>
					<li>
						<fa-icon class="fa-li" icon="check"></fa-icon>
						Work with <b>one fewer vendor</b>. Our photo booth software is ridiculously easy to set up and use, so there's <b>no need for us to be on-site</b>.
					</li>
					<li>
						<fa-icon class="fa-li" icon="check"></fa-icon>
						Entertain your guests with a <b>fun, collaborative activity</b> that lets them show their creative side.
					</li>
					<li>
						<fa-icon class="fa-li" icon="check"></fa-icon>
						Easily <b>share photos with guests</b> after your event is over.
					</li>
					<li>
						<fa-icon class="fa-li" icon="check"></fa-icon>
						Commemorate your special day. All photos are stored in <b>original resolution</b>, perfect for printouts, scrapbooks, and social media.
					</li>
					<li>
						<fa-icon class="fa-li" icon="check"></fa-icon>
						Gain access to <b>priority customer support</b>. All inquiries are answered by a human — no customer service chatbots.
					</li>
				</ul>
				<h2 class="mx-1 pt-1">...all for a fraction of the price!</h2>
			</div>
		</div>
		<div class="row text-center justify-content-center pt-4">
			<p>Have a question not answered above? Check out our <a href="/faq">frequently asked questions</a> or <a href="/contact-us">get in touch</a> for a <b>free</b> consultation.
			</p>
		</div>
	</div>
</div>