<div class="container pt-5 px-4">
	<div class="row justify-content-center">
		<img class="main-image" src="../../assets/tv-screenshot.png">
	</div>
	<div class="row justify-content-center">
		<h2 class="text-center">Simpler. Cheaper. Funner.</h2>
	</div>
	<div class="row align-items-center justify-content-center">
		<p class="text-justify info-text">Looking for a photo booth for your celebration, but without the hassle and expense? Look no further. SmorgasBoard gives all your guests a fast, one-tap photo booth, right on their phones. Scan the QR code and snap a pic — it'll show up instantly on your TV or projector. By the end of the night, you'll have a collaborative photo album full of your favorite people at their most candid.</p>
	</div>
	<br/><br/>
</div>