.image {
	/* Set a specific height */
	min-height: 150px;
	width: 100%;

	/* Position and center the image to scale nicely on all screens */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

/* Place text in the middle of the image */
.text {
	text-align: center;
	color: #E1E1E1;
	padding-left: 2rem;
	padding-right: 2rem;
}