<div class="hero-image hero-text d-flex flex-column
justify-content-center align-items-center">
	<h1 class="d-none d-sm-block row display-4">{{header}}</h1>
	<h2 class="h1 d-sm-none row">{{header}}</h2>
	<p class="row text-justify banner-text">Make your wedding or event one to remember. With SmorgasBoard, you get more photos, and your guests have more fun taking them. No app downloads required!</p>
	<div class="row">
		<div class="d-flex flex-column flex-sm-row button-row text-center justify-content-center align-items-center">
			<div class="banner-button my-2">
				<a class="btn btn-lg btn-primary" href="/get-started">Get Started</a>
			</div>
			<div class="banner-button my-2">
				<a class="btn btn-lg btn-primary" href="/free-trial">Try for <b>Free</b></a>
			</div>
		</div>
	</div>
</div>
