<div class="container-fluid footer">
	<div class="p-4 d-flex flex-row justify-content-center align-items-center">
		<a class="social" href="https://twitter.com/TrySmorgasBoard">
			<fa-icon [icon]="['fab', 'twitter']" size="2x"></fa-icon>
		</a>
		<a class="social" href="https://www.instagram.com/trysmorgasboard">
			<fa-icon [icon]="['fab', 'instagram']" size="2x"></fa-icon>
		</a>
		<a class="social" href="contact-us">
			<fa-icon [icon]="['far', 'envelope']" size="2x"></fa-icon>
		</a>
	</div>
	<div class="p-4 d-flex flex-column flex-sm-row flex-wrap justify-content-center align-items-center align-items-sm-start links">
		<a href="contact-us">Contact Us</a>
		<p class="d-none d-sm-inline">|</p>
		<a href="blog">Blog</a>
		<p class="d-none d-sm-inline">|</p>
		<a href="privacy-policy">Privacy Policy</a>
		<p class="d-none d-sm-inline">|</p>
		<a href="terms-of-service">Terms of Service</a>
		<p class="d-none d-sm-inline">|</p>
		<a href="cookies-policy">Cookies Policy</a>
	</div>
	<div class="pb-4 d-flex flex-row justify-content-center align-items-center">
		<app-mailchimp></app-mailchimp>
	</div>
</div>